.logo {
  max-width: 128px;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 328px;
  gap: .75rem;
  > * {
    // width: 100%;
  }
  button {
    margin-left: auto;
    background-color: #c3001e;
    padding: 0.5rem 2rem !important;
  }
}

@media (max-width: 768px){
  .form {
    width: 100%;
  }
}
